#  Data Science Level 2 Practical Problem 2306-1

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_raw02 = pd.read_csv('lv2-2306-1.csv')
df_raw02.tail(3)

,PRD_ID,DEVICE_BRAND,OS,SCREEN_SIZE,NET_4G,NET_5G,REAR_CAMERA_MP,FRONT_CAMERA_MP,INTERNAL_MEMORY,RAM,BATTERY,WEIGHT,RELEASE_YEAR,DAYS_USED,NORMALIZED_USED_PRICE,NORMALIZED_NEW_PRICE
3250,3251,Alcatel,Android,15.80,yes,no,13.0,5.0,32.0,3.0,4000.0,165.0,2020,201,4.357350,4.528829
3251,3252,Alcatel,Android,15.80,yes,no,13.0,5.0,32.0,2.0,4000.0,160.0,2020,149,4.349762,4.624188
3252,3253,Alcatel,Android,12.83,yes,no,13.0,5.0,16.0,2.0,4000.0,168.0,2020,176,4.132122,4.279994

In [3]:
df_raw02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3253 entries, 0 to 3252
Data columns (total 16 columns):
PRD_ID                   3253 non-null int64
DEVICE_BRAND             3253 non-null object
OS                       3253 non-null object
SCREEN_SIZE              3253 non-null float64
NET_4G                   3253 non-null object
NET_5G                   3253 non-null object
REAR_CAMERA_MP           3253 non-null float64
FRONT_CAMERA_MP          3253 non-null float64
INTERNAL_MEMORY          3253 non-null float64
RAM                      3253 non-null float64
BATTERY                  3253 non-null float64
WEIGHT                   3253 non-null float64
RELEASE_YEAR             3253 non-null int64
DAYS_USED                3253 non-null int64
NORMALIZED_USED_PRICE    3253 non-null float64
NORMALIZED_NEW_PRICE     3253 non-null float64
dtypes: float64(9), int64(3), object(4)
memory usage: 406.8+ KB

In [4]:
df_raw02.shape

(3253, 16)

### 1.

In [5]:
df240 = df_raw02.copy()

In [6]:
df240

,PRD_ID,DEVICE_BRAND,OS,SCREEN_SIZE,NET_4G,NET_5G,REAR_CAMERA_MP,FRONT_CAMERA_MP,INTERNAL_MEMORY,RAM,BATTERY,WEIGHT,RELEASE_YEAR,DAYS_USED,NORMALIZED_USED_PRICE,NORMALIZED_NEW_PRICE
0,1,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,4.307572,4.715100
1,2,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,5.162097,5.519018
2,3,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,5.111084,5.884631
3,4,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,5.135387,5.630961
4,5,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,4.389995,4.947837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,3249,Apple,iOS,15.27,yes,no,8.0,7.0,64.0,4.0,3110.0,194.0,2019,208,5.100902,6.287933
3249,3250,Asus,Android,15.24,yes,no,13.0,8.0,128.0,8.0,4000.0,200.0,2018,541,5.037732,6.251538
3250,3251,Alcatel,Android,15.80,yes,no,13.0,5.0,32.0,3.0,4000.0,165.0,2020,201,4.357350,4.528829
3251,3252,Alcatel,Android,15.80,yes,no,13.0,5.0,32.0,2.0,4000.0,160.0,2020,149,4.349762,4.624188
3252,3253,Alcatel,Android,12.83,yes,no,13.0,5.0,16.0,2.0,4000.0,168.0,2020,176,4.132122,4.279994

In [7]:
from sklearn.linear_model import LinearRegression
LR00 = LinearRegression()
list_num = ['SCREEN_SIZE','REAR_CAMERA_MP','FRONT_CAMERA_MP','INTERNAL_MEMORY','BATTERY','WEIGHT']
list_rsq = []
for col in list_num:
    arr_x = np.array(df240[col]).reshape(-1, 1)
    arr_y = np.array(df240['NORMALIZED_USED_PRICE'])
    LR00.fit(arr_x, arr_y)
    arr_pred = LR00.predict(arr_x)
    num_rsq = 1 - (((arr_y - arr_pred)**2).sum()/((arr_y - arr_y.mean())**2).sum())    
    list_rsq.append(num_rsq)
    
print(np.max(list_rsq))
ans21 = np.round(np.max(list_rsq), 3)
print(ans21)

0.3711762238467857
0.371

### 2.

In [8]:
df250 = df_raw02.copy()

2-1

In [9]:
df251 = df250[df250['RELEASE_YEAR'].isin([2019,2020])].copy()
df251.shape

(552, 16)

2-2

In [10]:
srs_tmp = df_raw02.loc[df_raw02['RELEASE_YEAR'].isin([2020, 2019]), 'DEVICE_BRAND'].value_counts()
list_brd = list(srs_tmp[srs_tmp>=45].index)
print(list_brd)
df252 = df251[df251['DEVICE_BRAND'].isin(list_brd)].copy()
df252.shape

['Huawei', 'Honor', 'Samsung', 'LG']

(282, 16)

2-3

In [11]:
list_tmp = []
for brd in list_brd:
    df_tmp = df252.loc[df252['DEVICE_BRAND']==brd, \
                       ['SCREEN_SIZE','REAR_CAMERA_MP','FRONT_CAMERA_MP',\
                        'INTERNAL_MEMORY','BATTERY','WEIGHT','NORMALIZED_USED_PRICE']].copy()
    list_tmp.append(df_tmp.corr().loc[:'WEIGHT', 'NORMALIZED_USED_PRICE'].map(lambda x: abs(x)).max())

print(list_tmp)
np.mean(list_tmp)

[0.7500170690879439, 0.6704834529046316, 0.5269432385456577, 0.819276789075001]

0.6916801374033086

In [12]:
ans22 = np.round(np.mean(list_tmp), 3)
print(ans22)

0.692

### 3.

In [13]:
df260 = df_raw02.copy()

3-1

In [14]:
df260['PRD_AGE'] = 2023 - df260['RELEASE_YEAR']
df260['PRD_AGE'].describe()

count    3253.000000
mean        7.233630
std         2.187719
min         3.000000
25%         5.000000
50%         8.000000
75%         9.000000
max        10.000000
Name: PRD_AGE, dtype: float64

3-2

In [15]:
df_dum = pd.get_dummies(df260.loc[:, ['DEVICE_BRAND','OS','NET_4G','NET_5G']], drop_first=True)

In [16]:
df261 = pd.concat([df260, df_dum], axis=1)

3-3

In [17]:
train26 = df261[df261['PRD_ID']%5 != 0].copy()
test26 = df261[df261['PRD_ID']%5 == 0].copy()
print(train26.shape, test26.shape)

(2603, 54) (650, 54)

3-4

In [18]:
from sklearn.ensemble import RandomForestRegressor
RF00 = RandomForestRegressor(random_state = 2305, n_estimators=9, min_samples_leaf=10)
list_fts = ['SCREEN_SIZE','REAR_CAMERA_MP','FRONT_CAMERA_MP','INTERNAL_MEMORY','RAM','BATTERY',\
             'WEIGHT','DAYS_USED','NORMALIZED_NEW_PRICE','PRD_AGE'] + list(df_dum.columns)
RF00.fit(train26.loc[:, list_fts], train26['NORMALIZED_USED_PRICE'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=10, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=9, n_jobs=None,
                      oob_score=False, random_state=2305, verbose=0,
                      warm_start=False)

In [19]:
len(list_fts)

47

In [20]:
arr_pred = RF00.predict(test26.loc[:, list_fts])
arr_act = np.array(test26['NORMALIZED_USED_PRICE'])
print(np.sqrt(((arr_pred - arr_act)**2).mean()))

ans23 = np.round(np.sqrt(((arr_pred - arr_act)**2).mean()), 3)
ans23

0.2325264045788036

0.233

### Summary

In [21]:
print(ans21)
print(ans22)
print(ans23)

0.371
0.692
0.233