In [1]:
import pandas as pd
import numpy as np

In [2]:
df_raw01 = pd.read_csv('lv2-2308.csv')
df_raw01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14980 entries, 0 to 14979
Data columns (total 16 columns):
PTC_ID        14980 non-null int64
AF3           14980 non-null float64
F7            14980 non-null float64
F3            14980 non-null float64
FC5           14980 non-null float64
T7            14980 non-null float64
P7            14980 non-null float64
O1            14980 non-null float64
O2            14980 non-null float64
P8            14980 non-null float64
T8            14980 non-null float64
FC6           14980 non-null float64
F4            14980 non-null float64
F8            14980 non-null float64
AF4           14980 non-null float64
EYE_CLOSED    14980 non-null int64
dtypes: float64(14), int64(2)
memory usage: 1.8 MB

In [3]:
df_raw01.columns

Index(['PTC_ID', 'AF3', 'F7', 'F3', 'FC5', 'T7', 'P7', 'O1', 'O2', 'P8', 'T8',
       'FC6', 'F4', 'F8', 'AF4', 'EYE_CLOSED'],
      dtype='object')

In [4]:
df_raw01.describe()

,PTC_ID,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,EYE_CLOSED
count,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000
mean,7490.500000,4321.917777,4009.767694,4264.022433,4164.946326,4341.741075,4644.022379,4110.400160,4616.056904,4218.826610,4231.316200,4202.456900,4279.232774,4615.205336,4416.435832,0.448798
std,4324.497851,2492.072174,45.941672,44.428052,5216.404632,34.738821,2924.789537,4600.926543,29.292603,2136.408523,38.050903,37.785981,41.544312,1208.369958,5891.285043,0.497388
min,1.000000,1030.770000,2830.770000,1040.000000,2453.330000,2089.740000,2768.210000,2086.150000,4567.180000,1357.950000,1816.410000,3273.330000,2257.950000,86.666700,1366.150000,0.000000
25%,3745.750000,4280.510000,3990.770000,4250.260000,4108.210000,4331.790000,4611.790000,4057.950000,4604.620000,4190.770000,4220.510000,4190.260000,4267.690000,4590.770000,4342.050000,0.000000
50%,7490.500000,4294.360000,4005.640000,4262.560000,4120.510000,4338.970000,4617.950000,4070.260000,4613.330000,4199.490000,4229.230000,4200.510000,4276.920000,4603.080000,4354.870000,0.000000
75%,11235.250000,4311.790000,4023.080000,4270.770000,4132.310000,4347.180000,4626.670000,4083.590000,4624.100000,4209.230000,4239.490000,4211.280000,4287.180000,4617.440000,4372.820000,1.000000
max,14980.000000,309231.000000,7804.620000,6880.510000,642564.000000,6474.360000,362564.000000,567179.000000,7264.100000,265641.000000,6674.360000,6823.080000,7002.560000,152308.000000,715897.000000,1.000000

Q1

In [5]:
df210 = df_raw01.copy()

1-1

In [6]:
from sklearn.preprocessing import StandardScaler
scl00 = StandardScaler()
scl00.fit(df210.loc[:, 'AF3':'AF4'])
df_tmp = pd.DataFrame(scl00.transform(df210.loc[:,'AF3':'AF4']), columns=df210.loc[:, 'AF3':'AF4'].columns)
df211 = pd.concat([df210['PTC_ID'], df_tmp, df210['EYE_CLOSED']], axis=1)

In [7]:
df211.describe()

,PTC_ID,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,EYE_CLOSED
count,14980.000000,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,1.498000e+04,14980.000000
mean,7490.500000,-1.328117e-16,3.794621e-15,-9.463784e-15,-1.802445e-17,6.784782e-15,-1.641173e-16,1.897310e-17,-1.319010e-14,-3.035697e-17,-1.681017e-15,-1.021512e-14,-1.136299e-14,-3.225428e-17,-2.419071e-17,0.448798
std,4324.497851,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,0.497388
min,1.000000,-1.320691e+00,-2.566378e+01,-7.256969e+01,-3.281328e-01,-6.482881e+01,-6.413709e-01,-4.399804e-01,-1.668631e+00,-1.339150e+00,-6.346727e+01,-2.459002e+01,-4.865528e+01,-3.747768e+00,-5.177797e-01,0.000000
25%,3745.750000,-1.661636e-02,-4.135315e-01,-3.097793e-01,-1.087688e-02,-2.864636e-01,-1.102078e-02,-1.140029e-02,-3.904496e-01,-1.313304e-02,-2.840027e-01,-3.227998e-01,-2.778518e-01,-2.022241e-02,-1.262684e-02,0.000000
50%,7490.500000,-1.105855e-02,-8.984939e-02,-3.291797e-02,-8.518858e-03,-7.977150e-02,-8.914573e-03,-8.724656e-03,-9.309500e-02,-9.051291e-03,-5.482838e-02,-5.152612e-02,-5.567192e-02,-1.003479e-02,-1.045067e-02,0.000000
75%,11235.250000,-4.064134e-03,2.897751e-01,1.518814e-01,-6.256688e-03,1.565714e-01,-5.933062e-03,-5.827316e-03,2.745869e-01,-4.492086e-03,2.148194e-01,2.335097e-01,1.913015e-01,1.849383e-03,-7.403697e-03,1.000000
max,14980.000000,1.223557e+02,8.260428e+01,5.889466e+01,1.223870e+02,6.139213e+01,1.223787e+02,1.223857e+02,9.040274e+01,1.223693e+02,6.420676e+01,6.935669e+01,6.555454e+01,1.222289e+02,1.207723e+02,1.000000

1-2

In [8]:
list_cols = list(df210.loc[:, 'AF3':'AF4'].columns)
df_tmp00 = df211[df211['EYE_CLOSED']==0].copy()
df_tmp01 = df211[df211['EYE_CLOSED']==1].copy()
dic_tmp00 = {}
for col in list_cols:
    dic_tmp00[col] = np.abs(df_tmp00[col].mean() - df_tmp01[col].mean())

srs_tmp00 = pd.Series(dic_tmp00).sort_values(ascending=False)
list_03 = list(srs_tmp00.iloc[:3].index)
list_11 = list(srs_tmp00[3:].index)

In [9]:
srs_tmp00

F7     0.160834
FC6    0.129267
F4     0.096436
T8     0.094935
F3     0.078216
O2     0.050465
F8     0.026379
AF3    0.021026
P8     0.019253
P7     0.015773
AF4    0.015179
FC5    0.015141
O1     0.014523
T7     0.000741
dtype: float64

1-3

In [10]:
df212 = df211[df211['EYE_CLOSED']==1].copy()
df212.shape

(6723, 16)

1-4

In [11]:
list_11

['T8', 'F3', 'O2', 'F8', 'AF3', 'P8', 'P7', 'AF4', 'FC5', 'O1', 'T7']

In [12]:
list_col00 = []
list_col01 = []
list_mean = []
for col00 in list_03:
    for col01 in list_11:
        arr_tmp00 = np.zeros(19)
        arr_tmp01 = np.zeros(19)
        srs_tmp00 = df212[col00].copy()
        srs_tmp01 = df212[col01].copy()
        for i, num_q in enumerate(np.arange(0.05, 1, 0.05)):
            arr_tmp00[i] = srs_tmp00.quantile(num_q)
            arr_tmp01[i] = srs_tmp01.quantile(num_q)
            print(num_q)
        num_mean00 = np.mean(np.abs(arr_tmp00 - arr_tmp01))
        list_col00.append(col00)
        list_col01.append(col01)
        list_mean.append(num_mean00)
df_tmp00 = pd.DataFrame({'var03':list_col00, 'var11':list_col01, 'mean':list_mean})

0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001
0.05
0.1
0.15000000000000002
0.2
0.25
0.3
0.35000000000000003
0.4
0.45
0.5
0.55
0.6000000000000001
0.6500000000000001
0.7000000000000001
0.7500000000000001
0.8
0.8500000000000001
0.9000000000000001
0.9500000000000001

1-5

In [13]:
str_col = df_tmp00.sort_values('mean').iloc[0, 1]
res21 =  df_raw01[str_col].mean()
print('res21 : ', res21)
ans21 = round(res21, 2)
print('ans21 : ', round(res21, 2))

res21 :  4231.316199599466
ans21 :  4231.32

In [14]:
str_col

'T8'

Q2

In [15]:
df220 = df_raw01.copy()

2-1

In [16]:
dic_tmp = {}
list_cols = list(df220.loc[:, 'AF3':'AF4'].columns)
for col in list_cols:
    num_std = df220[col].std()
    num_mean = df220[col].mean()
    num_cv = num_std/num_mean
    dic_tmp[col] = [num_cv]
srs_tmp = pd.DataFrame(dic_tmp).T

list_05 = list(srs_tmp.sort_values(0, ascending=False)[:5].index)
df221 = df220.loc[:, list_05].copy()

In [17]:
list_05

['AF4', 'FC5', 'O1', 'P7', 'AF3']

2-2

In [18]:
# df222 = df221.copy()
# for col in df221.columns:
#     num_q1 = df222[col].quantile(0.25)
#     num_q3 = df222[col].quantile(0.75)
#     num_iqx = num_q3 - num_q1
#     num_q2 = df222[col].quantile(0.5)
#     df222 = df222.loc[(df222[col]<=num_q3 + 1.5*num_iqx) & \
#                       (df222[col]>=num_q1 - 1.5*num_iqx), :].copy()
#     print(col," : ",df222.shape[0])

In [19]:
df222 = df221.copy()
for col in df221.columns:
    num_q1 = df221[col].quantile(0.25)
    num_q3 = df221[col].quantile(0.75)
    num_iqx = num_q3 - num_q1
    num_q2 = df221[col].quantile(0.5)
    df222 = df222.loc[(df222[col]<=num_q3 + 1.5*num_iqx) & \
                      (df222[col]>=num_q1 - 1.5*num_iqx), :].copy()
    print(col," : ",df222.shape[0])

AF4  :  13388
FC5  :  13269
O1  :  13248
P7  :  12668
AF3  :  12549

2-3

In [20]:
for col in df222.columns:
    df222[col] = (df222[col] - df222[col].min())/(df222[col].max() - df222[col].min())
df222.describe()

                AF4           FC5            O1            P7           AF3
count  12549.000000  12549.000000  12549.000000  12549.000000  12549.000000
mean       0.473960      0.472714      0.458122      0.487971      0.474986
std        0.163728      0.150173      0.179652      0.176690      0.157386
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.370846      0.365552      0.320855      0.391319      0.371878
50%        0.466645      0.478457      0.449218      0.478298      0.462772
75%        0.575039      0.553727      0.577581      0.608681      0.566156
max        1.000000      1.000000      1.000000      1.000000      1.000000

2-4

In [21]:
from time import time

In [22]:
srs_y = df220.loc[df222.index, 'EYE_CLOSED'].copy()
dic_tmp = {}

time00 = time()

from sklearn.cluster import KMeans
km00 = KMeans(random_state=1234, n_clusters=2, n_init=150)  # n_init=100 추가
for col in df222.columns:
    km00.fit(df222.drop([col], axis=1))
    srs_cst = pd.Series(km00.labels_)
    srs_cst.index = df222.index
    num_mean00 = srs_y[srs_cst==0].mean()
    num_freq00 = (srs_cst==0).sum()
    dic_tmp[col+'00'] = [num_mean00,num_freq00]
    num_mean01 = srs_y[srs_cst==1].mean()
    num_freq01 = (srs_cst==1).sum()
    dic_tmp[col+'01'] = [num_mean01,num_freq01]

print("소요시간 : ", time() - time00) 
    
df_tmp00 = pd.DataFrame(dic_tmp).T
df_tmp00

소요시간 :  7.598741292953491

              0       1
AF400  0.480810  7009.0
AF401  0.421841  5540.0
FC500  0.477905  5748.0
FC501  0.435230  6801.0
O100   0.435859  7390.0
O101   0.481876  5159.0
P700   0.397968  7282.0
P701   0.533321  5267.0
AF300  0.478827  6990.0
AF301  0.424537  5559.0

In [23]:
res22 = df_tmp00.loc[df_tmp00[0]==df_tmp00[0].max(), 1].values[0]/df222.shape[0]
ans22 = round(res22,2)
print('res22 : ',res22)
print('ans22 : ',ans22)

res22 :  0.41971471830424734
ans22 :  0.42

Q3

In [24]:
df230 = df_raw01.copy()

3-1

In [25]:
train230 = df230[df230['PTC_ID'] % 5 !=0].copy()
test230 = df230[df230['PTC_ID'] % 5 ==0].copy()
print(train230.shape, test230.shape)

(11984, 16) (2996, 16)

3-2

In [26]:
list_14 = list(train230.loc[:, 'AF3':'AF4'].columns)

In [27]:
from sklearn.linear_model import LinearRegression
list_rsq = []
for col in list_14:
    LR00 = LinearRegression()
    list_tmp = list_14.copy()
    list_tmp.remove(col)
    LR00.fit(train230.loc[:, list_tmp], train230[col])
    arr_pred = LR00.predict(train230.loc[:, list_tmp])
    arr_act = np.array(train230[col])
    arr_mean = np.mean(arr_act)
    num_rsq = 1 - np.sum((arr_pred - arr_act)**2)/np.sum((arr_pred - arr_mean)**2)
    list_rsq.append(num_rsq)

In [28]:
df_tmp = pd.DataFrame({'col':list_14, 'rsq':list_rsq})
list_06 = list(df_tmp.loc[df_tmp['rsq']<=0.95, 'col'])

In [29]:
list_06

['F7', 'T7', 'O2', 'T8', 'FC6', 'F8']

3-3

In [30]:
from sklearn.linear_model import LogisticRegression
LR00 = LogisticRegression(solver = 'saga',max_iter=1000 , C = 100000, random_state = 1234)
LR00.fit(train230.loc[:, list_06], train230['EYE_CLOSED'])
arr_pred = LR00.predict(test230.loc[:, list_06])
arr_act = np.array(test230['EYE_CLOSED'])

In [31]:
# from sklearn.linear_model import LogisticRegression
# LR00 = LogisticRegression(solver = 'newton-cg', C = 100000, random_state = 1234)
# LR00.fit(train230.loc[:, list_06], train230['EYE_CLOSED'])
# arr_pred = LR00.predict(test230.loc[:, list_06])
# arr_act = np.array(test230['EYE_CLOSED'])

In [32]:
res23 = ((arr_pred==1)&(arr_act==1)).sum()/(arr_act==1).sum()
ans23 = round(res23, 3)
print("res23 : ",res23)
print("ans23 : ",ans23)

res23 :  0.3005952380952381
ans23 :  0.301

### SUMMARY

In [33]:
print('ans21 : ', ans21)
print('ans22 : ', ans22)
print('ans23 : ', ans23)

ans21 :  4231.32
ans22 :  0.42
ans23 :  0.301